.afixSection {
    margin-top: 20px;
}
.afixSection h3 {
    margin: 0;
    color: #bbbbbb;
    font-size: 20px;
    font-weight: 700;
}
.afixSection .articles .article {
    float: left;
    margin-top: 10px;
}
.afixSection .articles .article .image {
    float: left;
    position: relative;
}
.afixSection .articles .article .image img {
    float: left;
    width:100%;
}
.afixSection .articles .article .image .category {
    position: absolute;
    bottom: 0;
    padding-left: 15px;
    background-color: rgba(255,255,255,.9);
    padding-right: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.afixSection .articles .article .image .category a {
    cursor: pointer;
    color: red;
    font-weight: 700;
}
.afixSection .articles .article h3 {
    float: left;
    width: 100%;
    color: black;
    margin-top: 5px;
    cursor: pointer;
}
.afixSection .articles .article h3:hover {
    text-decoration: underline #f72210;
}
.afixSection .articles .article p {
    float: left;
    margin: 0;
    margin-top: 5px;
}
.afixSection .articles .article .helpUrl {
    float: left;
    width: 100%;

    margin-top: 10px;
    margin-bottom: 10px;
}
.afixSection .articles .article .helpUrl a {
    color: black;
    font-weight: 700;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: solid 1px #e0e0e0;
    border-bottom: solid 1px #e0e0e0;
    float: left;
    width: 100%;
}
.afixSection .articles .article .helpUrl a:hover {
    color:red;
}
.afixSection .articles .article.sponsorInsight {
    float: left;
    border: solid 0.2px #e0e0e0;
}
.afixSection .articles .article.sponsorInsight .contentPart {
    float: left;
    padding: 15px;
}
.moreStoriesArticles {
    float: left;
    margin-top: 10px;
}
.moreStoriesArticles .article {
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: solid 1px #d6d6d6;
    width: 100%;
}
.moreStoriesArticles .article .image {
    float: left;
    margin-right: 10px;
    width: 22%;
}
.moreStoriesArticles .article .image img {
    float: left;
    width: 100%;
}
.moreStoriesArticles .article h3 {
    float: left;
    width: 75%;
    color: black;
    font-size: 16px;
    cursor: pointer;
}
.moreStoriesArticles .article p {
    margin: 0;
}
.opinionArticles .article {
    float: left;
    width: 100%;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: solid 1px #d0d0d0;
}
.opinionArticles .article .left {
    float: left;
    width: 24%;
}
.opinionArticles .article .left img{
    float: left;
    width: 100%;
}
.opinionArticles .article .right {
    float: left;
    width: 76%;
    padding-left: 2%;
}
.opinionArticles .article .right h3 {
    color: black;
    font-size: 16px;
    cursor: pointer;
}
.opinionArticles .article .right h3:hover {
    color: red;
}
.opinionArticles .article .right span {
    float: left;
    font-size: 14px;
    margin-right: 5px;
    font-weight: 600;
}
.opinionArticles .article .right a {
    float: left;
    font-size: 14px;
    margin-right: 5px;
    cursor: pointer;
    font-weight: 600;
}
.opinionArticles .article .right a:hover {
    color: red;
}
.lastNewsArticles article {
    float: left;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px #d2d2d2;
}
.lastNewsArticles article a {
    float: left;
    width: 45%;
    cursor: pointer;
}
.lastNewsArticles article a img {
    float: left;
    width: 100%;
}
.lastNewsArticles article h3 {
    float: left;
    width: 50%;
    font-size: 16px;
    margin-left: 5%;
    color: black;
    cursor: pointer;
}
.lastNewsArticles article h3:hover {
    color: red;
}
.signUpBox {
    float: left;
    width: 100%;
}
.signUpBox .content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

}
.signUpBox .content .titleFlex {
    float: left;
    padding: 4%;
    background-color: #efefef;
}
.signUpBox .content .titleFlex span {
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}
.signUpBox .content .titleFlex span svg {
    float: left;
    width: 30px;
    background-color: red;
    fill: white;
}
.signUpBox .content .titleFlex h3 {
    float: left;
    width: 100%;
    color: black;
}
.signUpBox .content .signUp {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: grey;
    color: white;
    float: left;
    margin-top: 5px;
    font-weight: 700;
    cursor: pointer;
}
.signUpBox .content .updatePerformances {
    width: 100%;
    float: left;
    margin-top: 10px;
    color: black;
    font-weight: 700;
    cursor: pointer;
}
.editorPicks article {
    float: left;
    width: 100%;
}
.editorPicks article .picture {
    float: left;
    position: relative;
}
.editorPicks article .picture img {
    float: left;
    width: 100%;
    cursor: pointer;
}
.editorPicks article .picture span {
    position: absolute;
    bottom: 0;
    float: left;
    left: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ececec;
    color: red;
    font-weight: 700;
    cursor: pointer;
}
.editorPicks article h3 {
    float: left;
    width: 100%;
    font-size: 21px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 10px;
}
.editorPicks article h3:hover {
    text-decoration: underline  red;
}
.categoriesSection .titleCategory {
    color: #ff0909;
}
.categoriesSection article img {
    float: left;
    width: 100%;
    cursor: pointer;
}
.categoriesSection article h3 {
    float: left;
    width: 100%;
    font-size: 21px;
    font-weight: 700;
    margin-top: 10px;
    cursor: pointer;
}
.categoriesSection article h3:hover {
    text-decoration: underline red;
}
.categoriesSection  ul {
    list-style: none;
    margin: 0;
    float: left;
    padding: 0;
}
.categoriesSection  ul li {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
.categoriesSection  ul li a {
    float: left;
}
.categoriesSection  ul li a img {
    float: left;
    cursor: pointer;
    width: 30%;
}
.categoriesSection  ul li a  span {
    margin-left: 10px;
    float: left;
    width: 67%;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
.categoriesSection  ul li a  span:hover {
    color: red;
}