.headerTop, .navbarBottom, .afixSection .row {
    margin: 0;
    position: relative;
}
.headerTop {
    background-color: #ff0707;
}
.headerTop .center {
    text-align: center;
}
.headerTop .center svg {
    fill: white;
    width: 60%;
    margin-top: 14px;
    margin-bottom: 14px;
}
.headerTop .left {

}
.headerTop .left span {
    color: white;
    position: absolute;
    bottom: 7px;
    left: 20px;    
}
.headerTop .right{

}
.headerTop .right a {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    font-weight: 900;
    float: right;
    margin-top: 35px;
}
.headerTop .right .subscribe {
    background-color: white;
    color: red;
}
.headerTop .right .subscribe span {
    float: left;
    margin-top: 1px;
}
.headerTop .right .subscribe svg{
    fill: red;
    width: 9px;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
}
.headerTop .right .signIn{
    margin-right: 10px;
    color: white;
    
}
.navbarBellowRedtrack {
    border-bottom: solid 1px #ececec;
    display: block;
    float: left;
    width: 100%;
    background-color: white!important;
}
.navbarBellowRedtrack ul {
    float: left;
    display: block;
    max-width: 90%;   
}
.navbarBellowRedtrack ul li {
    float: left;
}
.navbarBellowRedtrack ul li a {
    float: left;
    color: black!important;
    font-weight: 900;
    padding-left: 25px!important;
    padding-right: 25px!important;
    font-size: 20px;
    border-right: solid 1px #cccccc; 
}
.navbarBellowRedtrack ul li a.imageLink {
    
}
.navbarBellowRedtrack ul li a.imageLink img {
    width: 110px;
}
.navbarBellowRedtrack ul li a:hover {
    color: red!important;
}
.navbarBellowRedtrack form {
    float: left;
    margin-left: 20px;
}
.navbarBellowRedtrack form input {
border: none;
    background: none;
    width: 65px!important;
    margin: 0!important;
    padding: 0!important;
}
.navbarBellowRedtrack form button {
    background: none;
    border: none;
    padding: 0;
}
.navbarBellowRedtrack form button img {
    float: left;
    width: 30px;
}
.navbarBottom .topRightSpan {
    position: absolute;
    top: 0;
    right: 0px;
    content: "";
    display: block;
    width: 22px;
    background-color: #f72210;
    border-left: 12px solid #fff;
    border-top: 13px solid #f72210;
    width: 96px;
    margin-top: 0px;
    z-index: 10;
}
.inTheMagazine {
    margin-top: 25px;
}
.inTheMagazine .colone .titleTop {
    float: left;
    width: 100%;
}

.inTheMagazine .row {

}
.inTheMagazine .title {
    float: left;
    width: 100%;
}
.inTheMagazine .title h3 {
    float: left;
    width: 100%;
    text-align: center;  
}
.inTheMagazine .title h3 span {
    
}
.inTheMagazine .title h3 span svg {
    width: 31px;
    vertical-align: initial;
    background-color: #ff0000;
    width: 24px;
}
.inTheMagazine .seeAllFeatures {
    
    bottom: 0; 
    padding-right: 15px;   
}
.inTheMagazine .seeAllFeatures .image, .inTheMagazine .seeAllFeatures2 .image {
    float: left;
    width: 100%;
    position: relative;    
}
.inTheMagazine .seeAllFeatures .image img, .inTheMagazine .seeAllFeatures2 .image img {
    float: left;
    width: 100%; 
    cursor: pointer;
}
.inTheMagazine .seeAllFeatures .image span {
    position: absolute;
    bottom: 0;
    float: left;
    left: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ececec;
    color: red;
    font-weight: 700;
    cursor: pointer; 
}
.inTheMagazine .seeAllFeatures a {
    float: left;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #efefef;
    cursor: pointer;
}
.inTheMagazine .seeAllFeatures a:hover {
    background-color: #d2d0d0;
}
.inTheMagazine .seeAllFeatures2 {

}
.inTheMagazine .seeAllFeatures2 .image {
    
}
.inTheMagazine .seeAllFeatures2 .image img {
    float: left;
    width: 100%;    
}
.inTheMagazine .seeAllFeatures2 .image .description {
    float: left;
    width: 100%;
}
.inTheMagazine .seeAllFeatures2 .image .description span {
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: red;
    color: white;
    font-weight: 700;    
}
.inTheMagazine .seeAllFeatures2 .image .description a {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
    color: red;
    font-weight: 700;
    cursor: pointer;    
}
.inTheMagazine .seeAllFeatures2 .tit {
    float: left;
    width: 100%;
    font-size: 22px;
    color: black;
    font-weight: 700;
    cursor: pointer;
    margin-top: 5px;
}
.inTheMagazine .seeAllFeatures2 .tit:hover {
    text-decoration: underline red;
}
.slideShows {

}
.slideShows article {
    float: left;
    position: relative;    
}

.slideShows article picture {
    float: left;
    position: relative;
}
.slideShows article picture img {
    float: left;
    width: 100%;    
}
.slideShows article picture span {
    position: absolute;
    bottom: 0;
    float: left;
    left: 0;
    padding-top: 33px;
    padding-bottom: 12px;
    padding-left: 49px;
    padding-right: 40px;
    background-color: #ececec;
    color: red;
    font-weight: 700;
    cursor: pointer;
    background-image: url(../images/slideShow/icon-slideshows-nw.png);
    font-size: 21px;
}
.slideShows article h3 {
    float: left;
    width: 100%;
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;    
}
.slideShows article h3:hover {
    text-decoration: underline red;
}