.container-fluid, .container {
    max-width: 1310px;
}
.headerTop, .navbarBottom, .afixSection .row {
    margin: 0;
    position: relative;
}
.headerTop {
    background-color: #ff0707;
}
.headerTop .center {
    text-align: center;
}
.headerTop .center svg {
    fill: white;
    width: 60%;
    margin-top: 14px;
    margin-bottom: 14px;
}
.headerTop .left span {
    color: white;
    position: absolute;
    bottom: 7px;
    left: 20px;    
}

.headerTop .right a {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    font-weight: 900;
    float: right;
    margin-top: 35px;
}
.headerTop .right .subscribe {
    background-color: white;
    color: red;
}
.headerTop .right .subscribe span {
    float: left;
    margin-top: 1px;
}
.headerTop .right .subscribe svg{
    fill: red;
    width: 9px;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
}
.headerTop .right .signIn{
    margin-right: 10px;
    color: white;
    
}
.navbarBellowRedtrack {
    border-bottom: solid 1px #ececec;
    display: block;
    float: left;
    width: 100%;
    background-color: white!important;
}
.navbarBellowRedtrack ul {
    float: left;
    display: block;
    max-width: 90%;   
}
.navbarBellowRedtrack ul li {
    float: left;
}
.navbarBellowRedtrack ul li a {
    float: left;
    color: black!important;
    font-weight: 900;
    padding-left: 25px!important;
    padding-right: 25px!important;
    font-size: 20px;
    border-right: solid 1px #cccccc; 
}

.navbarBellowRedtrack ul li a.imageLink img {
    width: 110px;
}
.navbarBellowRedtrack ul li a:hover {
    color: red!important;
}
.navbarBellowRedtrack form {
    float: left;
    margin-left: 20px;
}
.navbarBellowRedtrack form input {
border: none;
    background: none;
    width: 65px!important;
    margin: 0!important;
    padding: 0!important;
}
.navbarBellowRedtrack form button {
    background: none;
    border: none;
    padding: 0;
}
.navbarBellowRedtrack form button img {
    float: left;
    width: 30px;
}
.navbarBottom .topRightSpan {
    position: absolute;
    top: 0;
    right: 0px;
    content: "";
    display: block;
    width: 22px;
    background-color: #f72210;
    border-left: 12px solid #fff;
    border-top: 13px solid #f72210;
    width: 96px;
    margin-top: 0px;
    z-index: 10;
}
.inTheMagazine {
    margin-top: 25px;
}
.inTheMagazine .colone .titleTop {
    float: left;
    width: 100%;
}

.inTheMagazine .title {
    float: left;
    width: 100%;
}
.inTheMagazine .title h3 {
    float: left;
    width: 100%;
    text-align: center;  
}

.inTheMagazine .title h3 span svg {
    width: 31px;
    vertical-align: initial;
    background-color: #ff0000;
    width: 24px;
}
.inTheMagazine .seeAllFeatures {
    bottom: 0; 
    padding-right: 15px;   
}
.inTheMagazine .seeAllFeatures .image, .inTheMagazine .seeAllFeatures2 .image {
    float: left;
    width: 100%;
    position: relative;    
}
.inTheMagazine .seeAllFeatures .image img, .inTheMagazine .seeAllFeatures2 .image img {
    float: left;
    width: 100%; 
    cursor: pointer;
}
.inTheMagazine .seeAllFeatures .image span {
    position: absolute;
    bottom: 0;
    float: left;
    left: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ececec;
    color: red;
    font-weight: 700;
    cursor: pointer; 
}
.inTheMagazine .seeAllFeatures a {
    float: left;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #efefef;
    cursor: pointer;
}
.inTheMagazine .seeAllFeatures a:hover {
    background-color: #d2d0d0;
}
.inTheMagazine .seeAllFeatures2 .image img {
    float: left;
    width: 100%;    
}
.inTheMagazine .seeAllFeatures2 .image .description {
    float: left;
    width: 100%;
}
.inTheMagazine .seeAllFeatures2 .image .description span {
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: red;
    color: white;
    font-weight: 700;    
}
.inTheMagazine .seeAllFeatures2 .image .description a {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
    color: red;
    font-weight: 700;
    cursor: pointer;    
}
.inTheMagazine .seeAllFeatures2 .tit {
    float: left;
    width: 100%;
    font-size: 22px;
    color: black;
    font-weight: 700;
    cursor: pointer;
    margin-top: 5px;
}
.inTheMagazine .seeAllFeatures2 .tit:hover {
    text-decoration: underline red;
}
.slideShows article {
    float: left;
    position: relative;    
}

.slideShows article .picture {
    float: left;
    position: relative;
}
.slideShows article .picture img {
    float: left;
    width: 100%;    
}
.slideShows article .picture span {
    position: absolute;
    bottom: 0;
    float: left;
    left: 0;
    padding-top: 33px;
    padding-bottom: 12px;
    padding-left: 49px;
    padding-right: 40px;
    background-color: #ececec;
    color: red;
    font-weight: 700;
    cursor: pointer;
    background-image: url(../images/slideShow/icon-slideshows-nw.png);
    font-size: 21px;
}
.slideShows article h3 {
    float: left;
    width: 100%;
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;    
}
.slideShows article h3:hover {
    text-decoration: underline red;
}
.subscribeAndMostRead h3 {
    float: left;
    width: 100%;
    color: red;
    font-size: 20px;    
}
.subscribeAndMostRead .content {
    padding: 10px;
    background-color: #ececec;
    float: left;
    width: 100%;
}
.subscribeAndMostRead .content .picture {
    float: left;
    width: 100%;
    padding-bottom: 17px;
    border-bottom: solid 1px #c1c1c1;
    padding-top: 15px;
}
.subscribeAndMostRead .content .picture img {
    float: left;
    width: 34%;
}
.subscribeAndMostRead .content .picture .description {
    float: left;
    margin-left: 15px;
    width: 60%;
}
.subscribeAndMostRead .content .picture .description h3 {
    color: black;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 10px;
}
.subscribeAndMostRead .content .picture .description p {
    float: left;
    width: 100%;
    margin: 0;
}
.subscribeAndMostRead .content .subscribe {
    float: left;
    text-align: center;
    width: 100%;
    margin-top: 10px;
}
.subscribeAndMostRead .content .subscribe a span {
    background-color: #f72210;
    display: inline-block;
    padding: 10px 10px 10px 12px;
    color: #fff;
    font: bold 18px/18px "Roboto Condensed",sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
    cursor: pointer;
}
.subscribeAndMostRead .content .subscribe a span:hover {
    background-color: #c51e10;
}
.subscribeAndMostRead .mostRead h3 {
    color: black;
}
.subscribeAndMostRead .mostRead .articles {
    float: left;
}
.subscribeAndMostRead .mostRead .articles article {
    float: left;
    padding-top: 10px;
    border-top: solid 1px gainsboro;
}
.subscribeAndMostRead .mostRead .articles article span {
    max-height: 148px;
    float: left;
    width: 30%;
}
.subscribeAndMostRead .mostRead .articles article img {
    float: left;
}
.subscribeAndMostRead .mostRead .articles article p {
    float: left;
    width: 60%;
    margin-left: 5%;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}
.subscribeAndMostRead .mostRead .articles article p:hover {
    color: red;
}
footer .logoLeft svg {
    float: left;
    width: 270px;
    fill: red;   
    cursor: pointer;
}
footer .logoLeft svg path {
    fill: red;
}
footer .logoLeft p {
    float: left;
    margin: 0;
    margin-left: 10px;
    margin-top: 20px;    
}
.socialMedia .socialIcons i {
    float: right;
    margin-left: 10px;
    font-size: 25px;
    cursor: pointer;
    -webkit-text-fill-color: grey;    
}
.socialMedia .socialIcons i.fa-facebook:hover {
    -webkit-text-fill-color: blue;
}
.socialMedia .socialIcons i.fa-twitter-square:hover {
    -webkit-text-fill-color: #21b2ca;
}
.socialMedia .socialIcons i.fa-google-plus-g:hover {
    -webkit-text-fill-color: red;
}
.socialMedia .socialIcons i.fa-instagram:hover {
    -webkit-text-fill-color: #2e87c5;
}
.socialMedia .socialIcons i.fa-tumblr-square:hover {
    -webkit-text-fill-color: black;
}
.socialMedia .socialIcons i.fa-linkedin-in:hover {
    -webkit-text-fill-color: #1d78c5;
}
.socialMedia .aboutUsURLs {
    margin: 0;
    float: left;
    width: 100%;
    margin-top: 10px;
}
.socialMedia .aboutUsURLs a {
    float: left;
    padding-left: 6px;
    padding-right: 6px;
    color: #4c4c4c;
    cursor: pointer;    
}
.socialMedia .aboutUsURLs a.first {
    padding-left: 0px;
}
.socialMedia .aboutUsURLs a:hover {
    color: #000000;
}
.socialMedia .aboutUsURLs.right {
    text-align: center;
}
.socialMedia .aboutUsURLs.right a {
    float: none; 
}
.socialMedia .aboutUsURLs.right span {
    font-weight: 700;
}
@media (max-width: 420px) {
    .navbarBottom .topRightSpan {
        display: none;
    }
    .navbarBellowRedtrack ul {
        max-width: 100%;
    }   
    .navbarBellowRedtrack ul li {
        float: left;
        width: 100%;
    }
    .navbarBellowRedtrack ul li a {
        float: left;
        color: black!important;
        font-weight: 900;
        font-size: 20px;
        width: 100%;
        text-align: center;
        border: none;
        padding: 0!important 3px 0!important 3px;
    }         
}
h6 {
    display: none;
}
  